*
{
    font-family: Georgia, serif;
}
.backq
{
    height: 100vh;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/columns-coins-grass_155003-12338.jpg?w=1800&t=st=1705991465~exp=1705992065~hmac=5ac65c1af0e30acf12d265a134a53e2f27c6d416af6f16139223612dfa85ede5);
    position: absolute;
    background-size: cover;
    margin-top: -410px;
    margin-left: -720px;
    padding: 0;
    display: flex;
}
.logq
{
    /* background:transpa; */

    justify-content: center;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    backdrop-filter: blur(3px);
    width:390px;
    height: 70vh;
    align-items: center;
    display: flex;
    margin-left: 550px;
    margin-top:110px;

}
.social{
    display:flex;
    justify-content:space-around;
    padding:30px;
  }

.h1n{
    margin-bottom: 50px;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
h2{
    font-size: 1em;
    color: rgb(0, 0, 0);
}
.inputbq
{
    margin-top: 260px;
    position: relative;
    margin: 30px 0;
    width: 0px;
    border-bottom: 2px solid #000000;
}
.inputbq label
{
    position: absolute;
    top:  12px;
    left: 5px;
    transform: translateY(-110%);
    color: #000000;
    font-size: 1.4em;
    pointer-events: none;
    transition: 500s;
}
.inputbq input
{
    margin-top: 12px;
    width: 240px;
    height: 50px;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 0 35px 0 5px;
    color:#a7d183;
    background-color: #cbf7cd;
    border-radius: 10px;
}
.butq
{
    width: 60%;
    /* height: 50px; */
    border-radius: 30px;
    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
}
.regq
{
    font-size: 20px;
    color: #000000;
    text-align: center;

}
.regq p a
{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.regq p a:hover
{
    text-decoration: underline;
}